{% extends 'Admin/Header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
</head>
<br><br><br><br><br><br>
<body>
    <br><br>
    <h2 align="center">Solved Complaints</h2>
    <form action="" method="post">
        {% csrf_token %}
        <h2>UserComplaints</h2>
        <table border="1" align="center" cellpadding="10">
            <tr>
                <td>Sl.No</td>
                <td>Title</td>
                <td>Complaint</td>
                <td>POSTDate</td>
                <td>UserName</td>
                <td>Contact</td>
                <td>Reply</td>
                <td>ReplyDate</td>
            </tr>
            {% for i in userComplaint %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.complaint_title}}</td>
                <td>{{i.complaint_details}}</td>
                <td>{{i.complaint_postdate}}</td>
                <td>{{i.user.user_name}}</td>
                <td>{{i.user.user_contact}}</td>
                <td>{{i.complaint_reply}}</td>
                <td>{{i.complaint_replydate}}</td>
                
            </tr>
            {% endfor %}
    </table>

  
    </form>
</body>
</html>


{% endblock content %}
