{% extends 'Admin/Header.html' %}
{% load static %}
{% block content %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Designation</title>
</head>
<body>
    <a href="{%  url 'webadmin:LoadingHomePage'  %}">Home</a
    <form method="POST">
        {% csrf_token %}
        <table align="center">
            <tr>
                <td>Department</td>
                <td>
                    <select name="sel_department" id="sel_department">
                        <option value="">...Select...</option>
                        {% for i in departmentdata %}
                        <option 
                        {% if i.id == editdata.department_id %}
                        selected
                        {% endif %}
                        value="{{i.id}}">{{i.department_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>DesignationName</td>
                <td><input type="text" name="txtname" designationholder="Enter Designation" required value="{{editdata.designation_name}}"></td>
            </tr>
            <tr>
                
                <td colspan="2" align="center">
                    <input type="submit" name="btnsubmit" value="Save">
                    <input type="reset" name="btncancel" value="Cancel">
                </td>
            </tr>
        </table>
    </form>

    <table border="1" align="center" cellpadding="10">
        <tr>
            <th>Sl.No</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Action</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.department.department_name}}</td>
            <td>{{i.designation_name}}</td>
            <td><a href="{% url 'webadmin:delDesignation' i.id %}">Delete</a> | <a href="{% url 'webadmin:designationupdate' i.id %}">Edit</a></td>
        </tr>
        {% endfor %}

    </table>

</body>
</html>


{% endblock content %}